[Unit]
Description=Azathoth bot service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=azathoth
Environment=AZATHOTH_TOKEN=bot_token
ExecStart=/path/to/azathoth/azathoth.py

[Install]
WantedBy=multi-user.target
